/*
Color Pallette
Black: #0E0E0E
Dark Grey: #464241
Light Grey: #C0C2C4
Ice: #E9EEF4
Water: #C0D4DB
*/
* {
    /*border: 1px solid black;*/
    font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #E9EEF4;
    color: #0E0E0E;
    max-width: 100vw;
}
#mainRow {
    max-width: 99vw;
}
#mainContent {
    max-width: 100vw;
    margin-top: 20px;
}
#sidebarLeft {
    background-color: #C0D4DB;
}
a:link {
    color: #E9EEF4;
}
a:visited {
    color: #E9EEF4;
}
a:hover {
    color: blue;
}
a:active {
    color: red;
}
img {
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: 2px;
}
#aboutMeList {
    list-style-position: inside;
    padding: 10px 5px;
    margin: 10px 5px;
}
#aboutMeList li {
    list-style-type: none;
    margin: 10px 0;
}
#homeLabList {
    list-style-position: inside;
    margin-top: 8px;
    padding: 5px 0 5px 10px;
}
#homeLabList li {
    list-style-type: upper-roman;
    padding-top: 5px;
    padding-bottom: 3px;
}
#dockerContainerList {
    padding: 5px 3px;
    list-style-position: inside;
}
#windowsServerList {
    padding: 5px 3px;
}
#dockerContainerList li {
    list-style-type: none;
    word-wrap: break-word;
    padding: 3px;
}
.carousel {
    padding-top: 20px;
    width: 357px;
    overflow: hidden;
    height: 50px;
    position: relative;
}
.carousel ul {
    position: relative;
    list-style: none;
    list-style-type: none;
    margin: 0;
    height: 50px;
    padding: 0;
}
.carousel ul li {
    position: absolute;
    height: 100px;
    width: 50px;
    float: left;
    margin-right: 1px;
    background: #f2f2f2;
    text-align: center;
    padding-top: 25px;
}
