/*
Color Pallette
Black: #0E0E0E
Dark Grey: #464241
Light Grey: #C0C2C4
Ice: #E9EEF4
Water: #C0D4DB
*/
* {
    /*border: 1px solid black;*/
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 14px;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
.aboutMeListItem {
    list-style-type: none;
    margin: 10px 0px;
}
#aboutMeList {
    padding: 0px 10px;
    margin: 0px 5px;
}
#homeLabList {
    margin-top: 8px;
    padding: 5px 0px 5px 10px;
}
.homeLabListItem {
    list-style: upper-roman;
    padding-top: 5px;
    padding-bottom: 3px;
}
#dockerContainerList {
    padding: 5px 3px;
}
#windowsServerList {
    padding: 5px 3px;
}
.dockerContainerListItem {
    list-style-type: none;
    word-wrap: break-word;
    padding: 3px;
}
